<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">BINGOカード登録</h3>
      </div>

      <div class="body">
お名前：<from action="/card_input" method="POST">

<input name="name"></input>

<table border=3>
<thead>
<tr>
<th bgcolor="#ffffaa" style="text-align: center">Ｂ</th>
<th bgcolor="#ffaaff" style="text-align: center">Ⅰ</th>
<th bgcolor="#aaffff" style="text-align: center">Ｎ</th>
<th bgcolor="#ffaaaa" style="text-align: center">Ｇ</th>
<th bgcolor="#aaaaff" style="text-align: center">Ｏ</th>
</tr>
</thead>
<tbody>
<tr>
<td bgcolor="#ffffaa" style="text-align: center">　　</td>
<th bgcolor="#ffaaff" style="text-align: center">　　</td>
<th bgcolor="#aaffff" style="text-align: center">　　</td>
<th bgcolor="#ffaaaa" style="text-align: center">　　</td>
<th bgcolor="#aaaaff" style="text-align: center">　　</td>
</tr>
<tr>
<td bgcolor="#ffffaa" style="text-align: center">　</td>
<th bgcolor="#ffaaff" style="text-align: center"></td>
<th bgcolor="#aaffff" style="text-align: center"></td>
<th bgcolor="#ffaaaa" style="text-align: center"></td>
<th bgcolor="#aaaaff" style="text-align: center"></td>
</tr>
<tr>
<td bgcolor="#ffffaa" style="text-align: center">　</td>
<th bgcolor="#ffaaff" style="text-align: center"></td>
<th bgcolor="#ffffff" style="text-align: center">Free</td>
<th bgcolor="#ffaaaa" style="text-align: center"></td>
<th bgcolor="#aaaaff" style="text-align: center"></td>
</tr>
<tr>
<td bgcolor="#ffffaa" style="text-align: center">　</td>
<th bgcolor="#ffaaff" style="text-align: center"></td>
<th bgcolor="#aaffff" style="text-align: center"></td>
<th bgcolor="#ffaaaa" style="text-align: center"></td>
<th bgcolor="#aaaaff" style="text-align: center"></td>
</tr>
<tr>
<td bgcolor="#ffffaa" style="text-align: center">　</td>
<th bgcolor="#ffaaff" style="text-align: center"></td>
<th bgcolor="#aaffff" style="text-align: center"></td>
<th bgcolor="#ffaaaa" style="text-align: center"></td>
<th bgcolor="#aaaaff" style="text-align: center"></td>
</tr>
</tbody>
</table>

<input type="submit"></input>

</form>
    </div>
  </body>
</html>